<h1>Menu cifrado</h1>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Cifrados" asp-action="CifradoBasico">
            Cifrado básico
        </a>
        <a asp-controller="Cifrados" asp-action="CifradoEficiente">
            Cifrado Eficiente
        </a>
    </li>
</ul>